body {
    background-color: #f0f2f5;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px auto;
    padding: 20px 0 28px;
    padding-top: 20px;
    padding-bottom: 28px;
    width: 396px;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align:center;
}

input, select, option {
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    margin: 17px auto;
}

select[multiple]{
    width: 430px;
}

select{
    color: grey;
}

input[type=submit] {
    background-color: #166fe5;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    margin: 17px auto;
    color :#ffffff;
}

input:focus{
    border-color: #166fe5;
}

button{
    background-color: #36a420;
    border-color: #36a420;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 232px;
    margin: 17px auto;
    color :#ffffff;
}

.buttonTime{
    padding: 2px;
    font-size: 16px;
    margin: 5px;
    width: 50px;
    line-height: 22px;
    display: inline;
    float: left;
}

.office, .schedule{
    background-color: #f0f2f5;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    height: 200px;
    margin-bottom: 20px;
}

.offices, .schedules{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 30px auto;
    width: 90%;
    text-align:left;
    padding:10px;

}

.search{
    width: 90%;
}

#searchButton{
    margin: 17px 17px 17px auto;
}

table {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

tr{
    padding: 10px;
}

tr:first-child{
    text-align: left;
}
tr:last-child{
    text-align: left;
}

/*
z neta
 */

/* https://www.aurainweb.pl/2016/07/rozwijane-poziome-menu-css-html/
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap&subset=latin-ext');
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    margin:0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

/*
.menu{
    background-color: #166fe5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-element{
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu-element:hover{
    background-color: white;
    color: var(--main-color);
}

.menu-separator-v{
    border-left: 2px solid white;
}

 */

nav{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin:0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    background-color: #166fe5;
}
.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.menu{
    padding: 0px;
    margin:0px;
    position:relative;
}
.menu li{
    float:left;
    list-style:none;
}
.menu li a{
    padding: 20px 15px;
    display: inline-block;
    text-decoration:none;
    position:relative;
    z-index: 1;
    color: #fff;
    text-transform:uppercase;
}
.menu li a::before{
    content:" ";
    position: absolute;
    background:#ccc;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    transition-duration:1s;
}
.menu li:hover > a::before{
    width:100%;
}
.menu li:hover a{
    background: #333;
    color: #fff;
}
.menu li ul{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    display:none;
}
.menu li:hover ul{
    display:block;
}
.menu li ul li{
    display:block;
    width: 100%;
}
.menu li ul li a{
    width: 100%;
}
/* navbar-toggler */

.navbar-toggler {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

.navbar-toggler .bar1, .navbar-toggler .bar2, .navbar-toggler .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
@media screen and (min-width: 700px) {
    .menu{
        display: block !important;
    }
}

@media screen and (max-width: 700px) {
    .navbar-toggler {
        display: inline-block;
    }
    .menu{
        display: none;
        position:absolute;
        background: rgba(0,0,0,0.8);
        width: 100%;
        text-align: center;
    }
    .menu li{
        float:none;
    }
    .menu li ul {
        position:relative;
    }
}

/*
OFFICES
 */
img {
    float: left;
    border-radius: 8px;
    padding: 20px;
    height: 200px;
}

.officesInfo{
    float: left;
    width: 50%;
    height: 180px;
    margin: 20px 0px;
}

.officesButtons {
    float: right;
    height: 180px;
    margin: 20px;
    border-collapse: collapse;
}

.officesButtons button{
    margin: 0px;
    margin-bottom: 5px;
}

.officesInfo h1{
    margin: 0;
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
}

.officesInfo div{
    float:left;
    margin-left: 20px;
}

.scheduleRules {
    border: solid 1px grey;
    margin: 10px auto;
    border-radius: 8px;
    font-weight: normal;
}

.scheduleRules tr {
    text-align: center;
}

.scheduleRules:first-child{
    border: solid 1px grey;
}

.availableTerm{
    margin-left: 20px;
    text-align: left;
}

.schedule, .reservation{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px auto;
    padding: 20px 0 28px;
    padding-top: 20px;
    padding-bottom: 28px;
    width: 730px;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align:center;
    height: auto;
}