<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="menu.html :: div"></div>
<form class ="form" action="/offices/add" th:object="${office}" method="POST" enctype="multipart/form-data">
    <!-- <input type="hidden" th:username="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

    <div >
        <input  type="text" th:field="*{name}" placeholder="Office name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div >
        <input  type="number" th:field="*{capacity}" placeholder="Office capacity">
        <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
    </div>
    <div >
        <input  type="number" th:field="*{price}" placeholder="Office price">
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    </div>
    <div >
        <input  type="number" th:field="*{area}" placeholder="Office area">
        <div th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></div>
    </div>
    <div >
        <input  type="file"  placeholder="Add photos" name="image" accept="image/png, image/jpeg">
    </div>
    <!--<div >
        <input  type="file" th:field="*{photos}" placeholder="Add photos" name="image" accept="image/png, image/jpeg">
        <div th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></div>
    </div>-->

    <input type="submit" value = "Save office">
</form>

</body>
</html>