<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>
<div th:insert="menu.html :: div"></div>
<form action="/offices/add" th:object="${office}" method="POST">
    <!-- <input type="hidden" th:username="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

    <div >
        <input  type="text" th:field="*{name}" placeholder="Office name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div >
        <input  type="number" th:field="*{capacity}" placeholder="Office capacity">
        <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
    </div>
    <div >
        <input  type="number" th:field="*{price}" placeholder="Office price">
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    </div>
    <div >
        <input  type="number" th:field="*{area}" placeholder="Office area">
        <div th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></div>
    </div>

    <!--     <select th:field="*{countryId}">
        <option value=""> -- </option>
        <option th:each="country : ${countries}"
                th:value="${country.countryId}"
                th:utext="${country.countryName}"/>
    </select>



  <label>First Name</label>
   <div th:classappend="${#fields.hasErrors('firstName')} ? 'input-icon right' : ''">
       <i th:if="${#fields.hasErrors('firstName')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid first name" data-container="body"></i>
       <input type="text" class="form-control" maxlength="32" th:field="*{firstName}" placeholder="First name"/>
       <span th:if="${#fields.hasErrors('firstName')}" class="help-block" th:errors="*{firstName}"></span>
   </div>-->

    <input type="submit" value = "Save office">
</form>

</body>
</html>