<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="menu.html :: div"></div>
<form class ="form" action="/units/add"  method="POST">
    <!-- <input type="hidden" th:username="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="radio" id="person" name="type" checked>
    <label for="person">Person</label>
    <input type="radio" id="company" name="type">
    <label for="company">Company</label>-->

    <div th:each="type : ${unitType}">
        <input type="radio" th:field="*{unit.type}" th:value="${type.key}">
        <label th:for="${type.key}" th:text="${type.value}">nnn</label>
    </div>

    <input type="text" th:field="*{unit.firstName}" name="firstName" placeholder="Firstname">
    <input type="text" th:field="*{unit.name}" name="name" placeholder="Name">

    <input type="text" th:field="*{unit.webpage}" name="webPage" placeholder="Web page">
    <input type="email" th:field="*{unit.email}" name="email" placeholder="Email">

    <input type="text" th:field="*{unit.phoneNumber}" name="phoneNumber" placeholder="Phone Number">
    <input type="text" th:field="*{unit.taxNumber}" name="taxNumber" placeholder="Tax Number">

    <input type="checkbox" th:field="*{unit.consent}" id="consent" name="consent" checked>
    <label for="consent">Consent agreement</label>

    <input type="submit" value = "Save profile">
</form>

</body>
</html>