<!DOCTYPE html>
<!--<html xmlns:th="http://ww.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<div>
    <form action="/login" method="POST">
       <!-- <input type="hidden" th:username="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value = "Log in">
    </form>
</div>
Forget password?

<a class="login-element" href="/sign_up">Don't have an account? Sign up here</a>
</body>
</html>