<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<body>
<div>
    <p th:if="${signUpRedirect} == true">Confirm e-mail and log in</p>
</div>
<div>
    <form action="/login" method="POST">
       <!-- <input type="hidden" th:username="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value = "Log in">
        <p><a href="/sign_up">Forget password?</a></p>
        <p>Don't have an account? <a href="/sign_up">Sign up here</a></p>

    </form>
</div>

</body>
</html>