<html xmlns:sec="http://www.thymeleaf.org" lang="en">
<div class="menu">
	<!--https://www.aurainweb.pl/2016/07/rozwijane-poziome-menu-css-html/
	https://stackoverflow.com/questions/37344727/thymeleaf-spring-security-tutaj o widocznosci spring security
	-->

	<nav>
		<div class="container">
			<div class="navbar-toggler">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>

			<ul class="menu">
				<li sec:authorize="isAnonymous()">
					<a href="/login">Log in</a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a href="/notifications">Notifications</a>
				</li>
				<li sec:authorize="hasRole('USER')">
					<a href="/offices">Offices</a>
					<ul>
						<li>
							<a href="/offices/add">Add new office</a>
						</li>
						<li>
							<a href="/offices/my">Manage offices</a>
						</li>
						<li>
							<a href="/offices/my/reservations">Reservations</a>
						</li>
					</ul>
				</li>
				<li sec:authorize="hasRole('ADMIN')">
					<a href="/reservations">Reservations</a>
				</li>
				<li sec:authorize="hasRole('USER')">
					<a href="/reservations/my">Reservations</a>
				</li>
				<li sec:authorize="hasRole('USER')">
					<a href="/contact">Contact</a>
				</li>
				<li sec:authorize="hasRole('ADMIN')">
					<a href="/users">Users</a>
					<ul>
						<li>
							<a href="/users/add">Add new user</a>
						</li>
						<li>
							<a href="/users">Manage users</a>
						</li>
					</ul>
				</li>
				<li sec:authorize="hasRole('ADMIN')">
					<a href="/details">Dictionaries</a>
					<ul>
						<li>
							<a href="/details/add">Add new dictionary</a>
						</li>
						<li>
							<a href="/details">Manage dictionary</a>
						</li>
					</ul>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a  href="/logout">Log out</a>
				</li>
			</ul>
		</div>
	</nav>

</div>