<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabinety do wynajecia</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div th:insert="menu.html :: div"></div>
<div th:insert="search.html :: div"></div>
<div class="offices">
<div th:each="office: ${offices}">
    <a style="display: block" class = "office" th:href="'offices/'+${office.officeId}">
    <h1 th:text="${office.name}"/>
    <table>
        <tr>
            <th>Price</th>
            <th><span th:text="${office.price}"/></th>
        </tr>
        <tr>
            <th>Capacity</th>
            <th><span th:text="${office.capacity}"/></th>
        </tr>
        <tr>
            <th>Area</th>
            <th><span th:text="${office.area}"/></th>
        </tr>
    </table>
    <!--<img th:src="/${office.getPhotosImagePath()}" />-->
    <img th:src="@{/user-photos/6/image.jpeg}"/>
    <img src="/user-photos/6/image.jpeg"/>
    </a>
</div>
</div>
</body>
</html>