<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="schedule">
    <h1 th:text="${office.name}"/>
    <p th:text="${office.description}"/>

    <h2>Schedule rules</h2>
    <table class = "scheduleRules">
        <tr>
            <th>Schedule Type</th>
            <th>Day of the week</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
        <tr th:each="schedule : ${office.schedules}">
            <th th:text="${schedule.scheduleType}"/>
            <th th:text="${schedule.dayOfTheWeek}"/>
            <th th:text="${schedule.startDate}"/>
            <th th:text="${schedule.endDate}"/>
            <th th:text="${schedule.startTime}"/>
            <th th:text="${schedule.endTime}"/>
        </tr>
    </table>
    <!--
    <div th:each="schedule : ${office.schedules}">
        <span th:text="${schedule.startDate}"></span>
        <span th:text="${schedule.endDate}"></span>
        <span th:text="${schedule.startTime}"></span>
        <span th:text="${schedule.endTime}"></span>

        <select th:object="${scheduleTypes}" name="scheduleTypes">
            <option th:each="scheduleType: ${scheduleTypes}"
                    th:if="${scheduleType.dictCode} == ${schedule.scheduleType}"
                    th:value="${scheduleType.dictId}"
                    th:text="${scheduleType.description}"></option>
        </select>
    </div>-->
    <h2>Available terms</h2>
    <div class ="availableTerm" th:each="entry : ${office.officeScheduleMap}">
        <p th:text="${entry.key}"></p>
        <div th:each="item : ${entry.value}">
            <button class="buttonTime" th:text="${item}"></button>
        </div>
        </br>
    </div>
</div>

</body>
</html>