<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="schedule">
    <h1 th:text="${office.name}"/>
    <p th:text="${office.description}"/>

    <form class="buttonform" th:action="@{'/offices/'+${office.officeId}+'/schedule/add'}" method="get">
        <button type="submit">Add Schedule</button>
    </form>

    <h2>Schedule rules</h2>
    <table class = "scheduleRules">
        <tr>
            <th>Schedule Type</th>
            <th>Day of the week</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
        <tr th:each="schedule : ${office.schedules}">
            <div th:each="scheduleType : ${scheduleTypes}">
            <th th:if="${scheduleType.code} == ${schedule.scheduleType}" th:text="${scheduleType.description}"/>
            </div>
            <div th:each="day : ${dayOfTheWeek}">
                <th th:if="${day.code} == ${schedule.dayOfTheWeek}" th:text="${day.description}"/>
            </div>
            <th th:text="${schedule.dayOfTheWeek}?:' '"></th>
            <th th:text="${schedule.startDate}"/>
            <th th:text="${schedule.endDate}"/>
            <th th:text="${schedule.startTime}"/>
            <th th:text="${schedule.endTime}"/>
        </tr>
    </table>

    <h2>Available terms</h2>
    <div class ="availableTerm" th:each="entry : ${office.officeScheduleMap}">
        <p th:text="${entry.key}"></p>
        <div th:each="item : ${entry.value}">
            <button class="buttonTime" th:text="${item}"></button>
        </div>
        </br>
    </div>
</div>

</body>
</html>